<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Control de Acceso de Vehículos Visitantes - Conjunto Residencial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <img src="../static/banbu.png" alt="Logo conjunto residencial" class="logo">
    <h1>Sistema de Control de Acceso de Vehículos Visitantes</h1>
    <div class="current-time">
        <span id="current-time"></span>
    </div>
    <div class="current-date">
        <span id="current-date"></span>
    </div>
    <div class="btn-group" role="group" aria-label="Acciones">
        <a th:href="@{/admin}"  type="button" class="btn btn-primary">Agregar y eliminar propietario</a>
        <button type="button" class="btn btn-danger">Salida de Vehículo</button>
        <a th:href="@{/elegir}" type="button" class="btn btn-success">Entrada de Vehículo</a>
        <a th:href="@{/admincel}" type="button" class="btn btn-secondary">Agregar y eliminar guarda</a>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    function updateTime() {
        var now = new Date();
        var timeElement = document.getElementById('current-time');
        var options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true };
        var timeString = now.toLocaleTimeString('en-US', options);
        timeElement.innerText = timeString;

        setTimeout(updateTime, 1000);
    }

    function updateDate() {
        var now = new Date();
        var dateElement = document.getElementById('current-date');
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var dateString = now.toLocaleDateString('es-ES', options);
        dateElement.innerText = dateString;
    }

    updateTime();
    updateDate();
</script>
</body>
</html>